infra/docker/n8n/workflows/typebot-intent-parser.json
{
  "name": "Typebot Intent Parser (with RAG)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "typebot-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "62815856-84a2-4d9a-94ee-e5ae13eb9e83",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1408,
        320
      ],
      "webhookId": "typebot-chat"
    },
    {
      "parameters": {
        "url": "=https://0e536f896dc4.ngrok-free.app/api/tasks?limit=10",
        "options": {}
      },
      "id": "dfd647da-d7e1-4e8f-9359-13a4bb33255f",
      "name": "Fetch Recent Tasks (RAG)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1216,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format tasks for RAG context\nconst webhookData = $('Webhook').item.json.body || $('Webhook').item.json;\nconst userMessage = webhookData.message || webhookData.text || '';\n\n// Get ALL items from previous node (Fetch Recent Tasks returns multiple items)\nconst allItems = $input.all();\nlet tasks = [];\n\nif (allItems && allItems.length > 0) {\n  // Each item is a task object - extract them\n  tasks = allItems.map(item => item.json);\n  \n  // Filter out invalid items\n  tasks = tasks.filter(t => t && t.id && t.title);\n} else {\n  // Fallback: try single item format\n  const tasksResponse = $('Fetch Recent Tasks (RAG)').item.json;\n  tasks = Array.isArray(tasksResponse) ? tasksResponse : (tasksResponse.data || []);\n}\n\n// Format tasks for context (show truncated ID in display, but keep full ID in tasks array)\nconst tasksContext = tasks.length > 0\n  ? tasks.map((t, i) => `${i + 1}. [${t.id.substring(0, 6)}] ${t.title} (ID: ${t.id})`).join('\\n')\n  : 'No recent tasks found.';\n\nreturn {\n  json: {\n    userMessage: userMessage,\n    tasksContext: tasksContext,\n    tasks: tasks, // Keep full task objects with complete UUIDs\n    originalWebhook: webhookData\n  }\n};"
      },
      "id": "d2190a96-b24d-4f32-9d70-edea2cdf5e8d",
      "name": "Format RAG Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        320
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "id": "eb17fd04-f9b2-406f-a4aa-37344887c305",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -832,
        544
      ],
      "credentials": {
        "openAiApi": {
          "id": "LCmDExkria7VtC7B",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "={{ $json }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a task management assistant. Parse user messages and extract intent and relevant data.  Available intents: - \"create\": User wants to create a new task (e.g., \"buy groceries\", \"I need to call dentist\") - \"list\": User wants to see their tasks (e.g., \"list tasks\", \"what do I need to do?\", \"show my tasks\") - \"done\": User wants to mark a task as done (e.g., \"done 562044\", \"mark the first one as done\", \"complete task abc123\") - \"details\": User wants to see details of a specific task (e.g., \"details task 562044\", \"show me task 1\", \"what's that task about?\") - \"help\": User needs help or is greeting (e.g., \"help\", \"hi\", \"what can you do?\")  Extract: - intent: one of \"create\", \"list\", \"done\", \"details\", \"help\" - title: task title if creating (optional, extract the actual task description) - taskId: task ID if marking done or showing details (optional, can be partial like \"562044\" or number like \"1\" for first task)  Rules: - If user references a task by number (e.g., \"the first one\", \"task 1\"), use the corresponding task ID from the context below - If user provides a partial ID (e.g., \"562044\"), use it as-is - If intent is \"create\", extract the task title (remove prefixes like \"create a task to\", \"I need to\", etc.) - Be natural: \"show me this task\" → details, \"what do I need to do?\" → list  Respond with ONLY valid JSON in this format (no markdown, no explanations): {   \"intent\": \"create|list|done|details|help\",   \"title\": \"task title if creating\",   \"taskId\": \"task ID or partial ID if done/details\" }"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Recent tasks for context (RAG): {{$json.tasksContext}}  User message: {{$json.userMessage}}"
            }
          ]
        }
      },
      "id": "e90f090a-e1b7-432a-9519-12bd6010faa0",
      "name": "LLM Intent Parser (with RAG)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        -816,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM response and resolve task references\nconst llmResponse = $input.item.json.output || $input.item.json.text || $input.item.json.response || $input.item.json;\nconst tasks = $('Format RAG Context').item.json.tasks || [];\n\nlet parsed;\ntry {\n  // Try to parse if it's a string\n  if (typeof llmResponse === 'string') {\n    parsed = JSON.parse(llmResponse);\n  } else {\n    parsed = llmResponse;\n  }\n} catch (e) {\n  // If parsing fails, try to extract JSON from markdown code blocks\n  const jsonMatch = llmResponse.match(/\\s*([\\s\\S]*?)\\s*```/) || \n                   llmResponse.match(/```\\s*([\\s\\S]*?)\\s*```/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[1]);\n  } else {\n    throw new Error('Could not parse LLM response as JSON: ' + String(llmResponse).substring(0, 100));\n  }\n}\n\n// Resolve task ID - handle both numeric references (e.g., \"1\") and partial IDs (e.g., \"fa3eca\")\nif ((parsed.intent === 'done' || parsed.intent === 'details') && parsed.taskId && tasks && tasks.length > 0) {\n  const taskIdStr = String(parsed.taskId).trim();\n  \n  // Method 1: Check if it's a number (index like \"1\", \"2\", etc.)\n  const numMatch = taskIdStr.match(/^(\\d+)$/);\n  if (numMatch) {\n    const index = parseInt(numMatch[1]) - 1;\n    if (index >= 0 && index < tasks.length) {\n      parsed.taskId = tasks[index].id; // Use FULL UUID (not truncated)\n    }\n  } \n  // Method 2: Check if it's a partial ID (like \"fa3eca\", \"562044\", etc.)\n  // Match against the start of any task's UUID (case-insensitive)\n  else if (taskIdStr.length > 0) {\n    const normalizedPartial = taskIdStr.toLowerCase().replace(/[^a-f0-9]/g, ''); // Remove any non-hex chars\n    \n    // Find task whose ID starts with the partial ID\n    for (const task of tasks) {\n      if (!task.id) continue;\n      // Compare first N characters (where N is length of partial ID)\n      const taskIdStart = task.id.substring(0, normalizedPartial.length).toLowerCase().replace(/[^a-f0-9]/g, '');\n      if (taskIdStart === normalizedPartial) {\n        parsed.taskId = task.id; // Use FULL UUID\n        break;\n      }\n    }\n  }\n}\n\nreturn {\n  json: {\n    intent: parsed.intent || 'help',\n    title: parsed.title || '',\n    taskId: parsed.taskId || '', // Now contains full UUID if resolved\n    tasks: tasks || []\n  }\n};"
      },
      "id": "e45a0299-60f5-451f-a8e2-a429673eb408",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "create",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "list",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "done",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "details",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "details",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "4275f1c8-15d1-4eb8-85b3-03beaf6bf7ab",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -208,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://0e536f896dc4.ngrok-free.app/api/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  title: $json.title,\n  source: 'typebot'\n}) }}",
        "options": {}
      },
      "id": "ee8e3a6f-5e83-4e2b-a265-75f7932c1d0d",
      "name": "Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://0e536f896dc4.ngrok-free.app/api/tasks?status=pending&limit=5",
        "options": {}
      },
      "id": "926995a4-940d-4897-b9da-f6ba28fc2d65",
      "name": "List Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        224
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://0e536f896dc4.ngrok-free.app/api/tasks/{{($json.taskId)}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  status: 'done'\n}) }}",
        "options": {}
      },
      "id": "0b302bde-5a4c-4d0f-b79a-2b0a98a34db4",
      "name": "Mark Task Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "url": "=https://0e536f896dc4.ngrok-free.app/api/tasks/{{$json.taskId}}",
        "options": {}
      },
      "id": "374d120c-f0db-42b7-949b-55f24798a1d5",
      "name": "Get Task Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format response based on intent\nconst intent = $('Parse LLM Response').item.json.intent;\nconst apiResponse = $input.item.json;\nconst parsedData = $('Parse LLM Response').item.json;\n\nlet reply = '';\n\nswitch (intent) {\n  case 'create':\n    // Check if this is a duplicate response\n    if (apiResponse && apiResponse.duplicate === true) {\n      reply = apiResponse.reply;\n    } else {\n      // Normal creation\n      const task = apiResponse;\n      reply = `✅ Task created: \"${task.title}\". I'll add a description and steps in a moment.`;\n    }\n    break;\n    \n case 'list':\n  // Use tasks from RAG context (already fetched)\n  const allTasks = parsedData.tasks || [];\n  const pendingTasks = allTasks.filter(t => t && t.status === 'pending');\n  \n  if (!pendingTasks || pendingTasks.length === 0) {\n    reply = '📋 You don\\'t have any pending tasks!';\n  } else {\n    const taskLines = pendingTasks.map((t, i) => {\n      const shortId = t.id ? t.id.substring(0, 6) : 'unknown';\n      return `${i + 1}. [${shortId}] ${t.title}`;\n    });\n    reply = `📋 Your pending tasks:\\n${taskLines.join('\\n')}`;\n  }\n  break;\n    \n  case 'done':\n    // Use the task from API response (which includes full task object after update)\n    const completedTask = apiResponse;\n    if (completedTask && completedTask.title) {\n      const shortId = completedTask.id ? completedTask.id.substring(0, 6) : 'unknown';\n      reply = `✅ Task marked as done: \"${completedTask.title}\" [${shortId}]`;\n    } else {\n      // Fallback: use task from parsed data\n      const taskId = parsedData.taskId || '';\n      const allTasks = parsedData.tasks || [];\n      const foundTask = allTasks.find(t => t.id === taskId);\n      if (foundTask) {\n        reply = `✅ Task marked as done: \"${foundTask.title}\" [${taskId.substring(0, 6)}]`;\n      } else {\n        reply = `✅ Task marked as done.`;\n      }\n    }\n    break;\n    \n  case 'details':\n    const detailTask = apiResponse;\n    reply = `📋 *Task: ${detailTask.title}*\\n`;\n    reply += `Status: ${detailTask.status === 'done' ? '✅ Done' : '⏳ Pending'}\\n\\n`;\n    \n    if (detailTask.description) {\n      reply += `📝 *Description:*\\n${detailTask.description}\\n\\n`;\n    } else {\n      reply += `📝 *Description:* AI enrichment pending...\\n\\n`;\n    }\n    \n    if (detailTask.steps && Array.isArray(detailTask.steps) && detailTask.steps.length > 0) {\n      reply += `📋 *Steps:*\\n`;\n      detailTask.steps.forEach((step, index) => {\n        const stepText = typeof step === 'string' ? step : (step.text || step.description || step);\n        reply += `${index + 1}. ${stepText}\\n`;\n      });\n      reply += `\\n`;\n    }\n    \n    if (detailTask.extra_info) {\n      const extraInfo = typeof detailTask.extra_info === 'string' \n        ? JSON.parse(detailTask.extra_info) \n        : detailTask.extra_info;\n      \n      if (extraInfo.links && Array.isArray(extraInfo.links) && extraInfo.links.length > 0) {\n        reply += `🔗 *Links:*\\n`;\n        extraInfo.links.forEach(link => {\n          reply += `• ${link}\\n`;\n        });\n        reply += `\\n`;\n      }\n      \n      if (extraInfo.notes) {\n        reply += `📝 *Notes:* ${extraInfo.notes}\\n`;\n      }\n    }\n    \n    if (detailTask.needs_enrichment) {\n      reply += `\\n⏳ AI enrichment is pending...`;\n    }\n    \n    reply = reply.trim();\n    break;\n    \n  default:\n    reply = `🤖 I can help you with your todo list:\\n\\n• \"Create a task to [description]\" - Create a new task\\n• \"List my tasks\" - Show pending tasks\\n• \"Mark task [id] as done\" or \"done [id]\" - Complete a task\\n• \"details task [id]\" or \"show task [id]\" - Show task details\\n• \"help\" - Show this message`;\n    break;\n}\n\nreturn {\n  json: {\n    reply: reply\n  }\n};"
      },
      "id": "de5860c5-bef7-4368-b20e-2c462346b5a3",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        336
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        336
      ],
      "id": "a156b64a-6288-4b14-9dae-e3382870ed99",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "gzip, deflate",
            "content-length": "29"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "create task wow"
          },
          "webhookUrl": "http://localhost:5678/webhook/typebot-chat",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Recent Tasks (RAG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Tasks (RAG)": {
      "main": [
        [
          {
            "node": "Format RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG Context": {
      "main": [
        [
          {
            "node": "LLM Intent Parser (with RAG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Intent Parser (with RAG)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Intent Parser (with RAG)": {
      "main": [
        [
          {
            "node": "Parse LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Task Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Task Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Tasks": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Task Done": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task Details": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "496f85c6-82b9-4acb-af69-b627b7392ec6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf065f57097f33d426a6a2cfaa5f7d365bcb32f72aa43cf9750933603948d9b5"
  },
  "id": "aE6SjXeEwDFCyS6N",
  "tags": []
}